body {
    margin-bottom: 200%;
}

.wrapper {
    position: absolute;
}

.appBox {
    position: fixed;
    border: 2px solid black;
    font: 24px/36px;
    font-family: Helvetica;
    width: 640px;
    height: 960px;
    display: flex;
    justify-content: center;
}

.main-section {
    overflow-x: scroll;
    width: 100%;
}

.app-heading{
    overflow: hidden;
    position: fixed;
    padding-top: 0px;
    background-color: white;
    width: 640px;
    text-align: center;
  }  
/* SECTION: NAV MENU */
/* Style the navigation menu */
.topnav {
    overflow: hidden;
    background-color: #2C3C4B;
    position: relative;
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #menuLinks {
    display: none;
    font-size: 30px;
    background-color: #635C70;
    padding: 10px 16px;
  }
  
  /* Style navigation menu links */
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
  }
  
  /* Style navigation links with the "nav-link" class */
  .topnav a.nav-link {
    padding: 10px 16px; /* Adjust the padding to your preference */
    border: 1px solid white; /* Add a white border around the links */
  }
  
  /* Style the hamburger menu */
  .topnav a.icon {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 50px;
  }
  
  /* Add a grey background color on mouse-over */
  .topnav a:hover {
    color: white;
  }
  
.active {
    background-color: #2C3C4B;
    height: 80px;
    color: white;
    font-size: 50px;
    text-align: center;
}

#user-profile-section {
    margin: 150px 10px;
    display: flex;
    justify-content: auto;
    flex-direction: column;
  }

.user-profile-heading {
    font-size: 30px;
    margin: 10px;
    text-align: center;
    color: #635C70;
}

.user-profiles {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-profile {
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    cursor: pointer;
}

.user-name {
    font-size: 24px;
    text-align: center;
    color: white;
}

.add-delete-options {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 120px;
}

.add-profile-button, .delete-profile-button {
    padding: 10px 20px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 10px;
    font-weight: bold;
}

#user-groups-button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding: 12px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
#user-groups-button:hover {
    background-color: #45a049;
}

.add-profile-button {
    background-color: #208AAE;
    color: white;
}

.delete-profile-button {
    background-color: #8b0f0f;
    color: white;
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    }
    
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #ccc;  
}

::-webkit-scrollbar-thumb:hover {
    background: #635C70;  
}

/* Styling for User Profiles page */
#user-profile-section {
    margin: 150px 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.recipe-heading-text {
    display: flex;
    flex: 0 0 52%;
    padding: 5px 5px;
    flex-direction: column;
    font-size: 40px;
    color: #635C70;
    margin-left: 15px;
}

#recipe-listing {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recipe-square {
    height: 150px;
    width: 550px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    margin: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.dish-pic {
    flex: 0 0 25%;
    padding: 5px;
    height: 125px;
    width: 125px;
    border-radius: 10px;
}

.recipe-text-column {
    flex: 0 0 75%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recipe-title {
    font-size: 30px;
    color: #635C70;
}

.recipe-text-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#clock-icon {
    font-size: 30px;
    color: #208AAE;
    margin: 0 10px;
}

.prep-time {
    font-size: 25px;
    color: #635C70;
}

/* Add Profile and Delete Profile buttons */
.add-delete-options {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.add-profile-button,
.delete-profile-button {
    padding: 10px 20px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 10px;
}

.recipe-listing {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recipe-square {
    height: 150px;
    width: 550px;
    padding: 10px;
    border: 3px solid black;
    margin: 30px 10px;
    display: flex;
    border-radius: 10px;
    box-shadow: 5px 10px 8px #888888; /* Add drop shadow */
}

.user-profile-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 50px;
}
.user-profile-heading {
    font-size: 36px;
    margin-bottom: 20px;
    color: #635C70;
}
.user-profile-content {
    text-align: center;
    padding: 20px;
}

select {
    font-size: 25px;
    border-radius: 10px;
    border: 2px solid #208AAE;
}

.profile-detail {
    font-size: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

.save-profile-button,
#user-groups-button {
    background-color: #208AAE;
    color: white;
    padding: 15px 30px;
    font-size: 24px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 20px;
    font-weight: bold;
}

#user-groups-button {
    background-color: #3CB371;
}

.group-square {
    border: 2px solid #2C3C4B;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    overflow: hidden;
    background-color: #f9f9f9;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.group-header-row {
    margin-top: 120px;
}
.group-details {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 5px;
}

.group-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px 0;
}

/* Styles for the group heading */
.group-info h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
  }
  
  /* Styles for the sub-information */
  .group-info h3 {
    font-size: 16px;
    margin: 5px 0;
    color: #555;
  }

#group-listing {
    margin-bottom: 240px;
}

.hidden {
    display: none;
}

.space {
    margin: 20px;  
}