<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KitchWiz</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <main>
        <div class="appBox">
          <h1>KitchWiz</h1>
          <div class="tab">
            <button class="tablinks" onclick="switchTab(event, 'text-tab')">Text</button>
            <button class="tablinks" onclick="switchTab(event, 'bottom-right-tab')">Bottom Right</button>
          </div>
          <!-- put tabs here -->
          <div id="text-tab" class="tabcontent">
            <h1>Text</h1>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Habitant morbi tristique senectus et netus et. Ultricies mi quis hendrerit dolor magna eget est lorem. Eget duis at tellus at urna. Varius morbi enim nunc faucibus a pellentesque sit. Scelerisque purus semper eget duis at tellus at urna. Ipsum a arcu cursus vitae. Nisl purus in mollis nunc sed. Imperdiet dui accumsan sit amet nulla facilisi morbi tempus iaculis. Cum sociis natoque penatibus et magnis dis parturient montes.
              At ultrices mi tempus imperdiet nulla. Cras tincidunt lobortis feugiat vivamus at augue. Scelerisque fermentum dui faucibus in ornare quam viverra orci sagittis. Tempus iaculis urna id volutpat lacus. Commodo viverra maecenas accumsan lacus vel facilisis volutpat est. Mauris in aliquam sem fringilla ut morbi tincidunt. Etiam sit amet nisl purus. Gravida in fermentum et sollicitudin ac orci phasellus egestas. Sit amet porttitor eget dolor morbi. Diam sollicitudin tempor id eu nisl nunc mi. Sed adipiscing diam donec adipiscing. Arcu felis bibendum ut tristique et. Duis tristique sollicitudin nibh sit amet commodo nulla facilisi nullam. Nunc mattis enim ut tellus elementum sagittis vitae. Duis at tellus at urna condimentum mattis pellentesque id. Euismod lacinia at quis risus sed vulputate. Phasellus vestibulum lorem sed risus. Velit egestas dui id ornare arcu odio.
            </p>
          </div>

          <div id="bottom-right-tab" class="tabcontent">
            <h1>Lower Right</h1>
              <p class="bottomRightText">
                Down Here
              </p>
          </div>

          <!-- <footer class="footerText">
            <p>&copy; 2023 KitchenWhiz</p>
          </footer> -->
        </div>
        
    </main>
    <script src="script.js"></script>
</body>
</html>
