<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KitchenWhiz</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <h1>Welcome to KitchenWhiz</h1>
    </header>
    
    <main>
      <div class="myBox">
        <h1>Lower Right</h1>
          <p class="bottomRightText">
            Down Here
          </p>
      </div>
    </main>
    
    <footer>
        <p>&copy; 2023 KitchenWhiz</p>
    </footer>

    <script src="script.js"></script>
</body>
</html>